.is-valid{
    border: solid 2px green;
}

.is-invalid{
    border: solid 2px red;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -10px;
    border: 2px solid white;
    object-fit: cover;
  }