<div class="container my-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Archivos</h3>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Acciones
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" (click)="showForm()">Nuevo</a></li>
                <li><a class="dropdown-item" href="#" (click)="deleteSelectedFiles()">Borrar</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dueños</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of files; track $index) {
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="form-check-input" id="check" value="" [(ngModel)]="item.selected">
                            </th>
                            <td>
                                <div [attr.title]="item.name.length > 10 ? item.name : null">
                                    {{ item.name.length > 10 ? item.name.slice(0, 10) + '...' : item.name }}
                                </div>
                            </td>
                            <td>{{item.creation | date: 'MMM dd, yyyy' }}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @if (item.owners.length > 0) {
                                        @for (owner of item.owners.slice(0, 3); track $index) {
                                            <img [src]="owner.avatarUrl" alt="{{ owner.name }}" class="avatar me-1" [attr.title]="owner.name" />
                                        }
                                        @if (item.owners.length > 3) {
                                            <div class="extra-owners">
                                                +{{ item.owners.length - 3 }}
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (viewForm) {
        <app-form></app-form>
    }
</div>